main {
  height: 100vh;
  padding: 1rem;

  header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    h1 {
      &::after {
        content: " radio zender";
        color: var(--tertiare-kleur);
      }
    }

    button {
      background: none;
      margin-top: 0.5rem;
      border: none;
      cursor: pointer;

      &::after {
        content: url(../assets/Svg/hamburger.svg);
      }
    }
  }
  section {
    &:nth-of-type(1) {
      height: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.8rem;

      h2 {
        position: relative;
        max-width: max-content;

        &::after {
          content: "(20)";
          color: var(--tertiare-kleur);
          font-size: 0.7rem;
          position: absolute;
          right: -25px;
          top: -5px;
        }
      }
    }

    &:nth-of-type(2) {
      height: 15%;
      display: flex;
      align-items: end;
      flex-direction: column;

      p {
        color: var(--tertiare-kleur);
      }
    }

    &:nth-of-type(3) {
      height: 35%;

      ul {
        height: 100%;
        background-color: var(--tertiare-kleur);
        display: flex;
        flex-direction: column;
        justify-content: end;
        max-width: 30rem;
        border-radius: 1rem;

        li {
          padding: 1rem;

          h2 {
            display: flex;
            justify-content: space-between;

            &::after {
              content: url(../assets/Svg/arrow-right.svg);
            }
          }
        }

        div {
          height: 12rem;
          display: flex;

          li {
            height: 100%;
            width: 50%;

            &:nth-of-type(1) {
              background-color: var(--accent-kleur-a);
              border-top-right-radius: 3rem;
              border-bottom-left-radius: 1rem;
            }

            &:nth-of-type(2) {
              background-color: var(--accent-kleur-b);
              border-top-left-radius: 3rem;
              border-bottom-right-radius: 1rem;
            }
          }
        }
      }
    }
  }
}
