body {
  padding: 1rem;
  height: 100dvh;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;

  nav {
    margin-left: 1rem;
  }

  h1::after {
    color: var(--tertiaire-kleur);
    content: " radio zender";
  }
}

main {
  height: 90%;

  section {
    &:first-of-type {
      height: 50%;
      display: grid;
      align-items: center;

      ul {
        display: grid;
        gap: 1rem;
      }

      p {
        font-size: var(--font-grootte-p-l);
        font-family: var(--font-family-satoshi);

        max-width: max-content;
        position: relative;

        &::after {
          font-size: var(--font-grootte-p-s);
          color: var(--tertiaire-kleur);

          content: "(20)";
          position: absolute;
          top: -5px;
          right: -25px;
        }
      }
    }

    &:nth-of-type(2) {
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p:first-of-type {
        color: var(--tertiaire-kleur);
      }

      p:last-of-type {
        font-size: var(--font-grootte-p-xl);
        font-family: var(--font-family-satoshi);

        font-weight: bold;
      }
    }

    &:nth-of-type(3) {
      height: 35%;

      article {
        background-color: var(--tertiaire-kleur);
        color: var(--secundaire-kleur);
        border-radius: var(--standaard-border-radius);

        height: 100%;
        max-width: 30rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        div {
          &:first-of-type {
            grid-column: 1 / -1;
            grid-row: 1;

            h2 {
              padding: 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &::after {
                content: "";
                display: block;
                height: 30px;
                aspect-ratio: 1/1;

                background-color: var(--secundaire-kleur);
                mask: url("../assets/Svg/arrow-right.svg") no-repeat center /
                  contain;
                -webkit-mask: url("../assets/Svg/arrow-right.svg") no-repeat
                  center / contain;
              }
            }
          }

          &:nth-of-type(2) {
            background-color: var(--primaire-accent-kleur);
            border-top-right-radius: 3rem;
            border-bottom-left-radius: 1rem;
            grid-column: 1;
            grid-row: 2 / 4;
          }

          &:last-of-type {
            background-color: var(--secundaire-accent-kleur);
            border-top-left-radius: 3rem;
            border-bottom-right-radius: 1rem;
            grid-column: 2;
            grid-row: 2 / 4;
          }
        }
      }
    }
  }
}
