main {
  height: 100vh;
  padding: 1rem;

  header {
    height: 15%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    h1::after {
      content: " radio zender";
      color: var(--tertiare-kleur);
    }
  }

  section {
    &:first-of-type {
      height: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.8rem;

      p {
        position: relative;
        font-size: 2rem;
        font-family: var(--font-family-satoshi);
        font-weight: bold;
        max-width: max-content;

        &::after {
          content: "(20)";
          position: absolute;
          top: -5px;
          right: -25px;

          font-size: 0.7rem;
          color: var(--tertiare-kleur);
        }
      }
    }

    &:nth-of-type(2) {
      height: 15%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p:first-of-type {
        color: var(--tertiare-kleur);
      }

      p:last-of-type {
        font-size: 3rem;
        font-weight: bold;
        font-family: var(--font-family-satoshi);
      }
    }

    &:nth-of-type(3) {
      height: 35%;

      ul {
        height: 100%;
        max-width: 30rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        background-color: var(--tertiare-kleur);
        color: white;
        border-radius: var(--standaard-border-radius);

        li {
          &:first-of-type {
            grid-column: 1 / -1;
            grid-row: 1;

            h2 {
              padding: 1rem;
              display: flex;
              justify-content: space-between;
              align-items: center;

              &::after {
                content: "";
                display: block;
                height: 30px;
                aspect-ratio: 1/1;

                background-color: white;
                mask: url("../assets/Svg/arrow-right.svg") no-repeat center /
                  contain;
                -webkit-mask: url("../assets/Svg/arrow-right.svg") no-repeat
                  center / contain;
              }
            }
          }

          &:nth-of-type(2) {
            background-color: var(--accent-kleur-a);
            border-top-right-radius: 3rem;
            border-bottom-left-radius: 1rem;
            grid-column: 1;
            grid-row: 2 / 4;
          }

          &:last-of-type {
            background-color: var(--accent-kleur-b);
            border-top-left-radius: 3rem;
            border-bottom-right-radius: 1rem;
            grid-column: 2;
            grid-row: 2 / 4;
          }
        }
      }
    }
  }
}
