nav {
  #hamburgerKnop {
    background: none;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;

    &::after {
      content: url("../assets/Svg/hamburger.svg");
    }
  }

  ul {
    display: none;
    padding: 1rem;

    li {
      p {
        font-size: var(--font-grootte-p-l);
        font-family: var(--font-family-satoshi);

        font-weight: 600;
      }

      &:first-of-type {
        display: flex;
        justify-content: flex-end;
        position: relative;
        height: 2rem;
      }
    }
  }

  .show {
    color: var(--secundaire-kleur);

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 80%;
    height: 100%;
    padding: 1rem;

    background-color: rgb(0 0 0 / 0.9);
    z-index: 1;

    #hamburgerSluitKnop {
      background-color: var(--secundaire-kleur);

      width: 40px;
      height: 40px;

      position: absolute;
      right: -5px;
      bottom: -10px;
      rotate: 45deg;

      mask: url("../assets/Svg/hamburgerclose.svg") no-repeat center / contain;
      -webkit-mask: url("../assets/Svg/hamburgerclose.svg") no-repeat center /
        contain;
    }
  }
}
