.slider-knop {
  font-size: var(--font-grootte-p-s);
  color: var(--secundaire-kleur);
  background: var(--secundaire-accent-kleur);
  position: relative;
  width: 88px;
  height: 40px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  padding: 0;

  .slider-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
  }

  .slider-label.linker-label {
    left: 10px;
  }

  .slider-label.rechter-label {
    right: 10px;
  }

  .slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 42px;
    height: 36px;
    background: var(--tertiaire-kleur);
    border-radius: 999px;
    transition: transform 0.25s ease;
    z-index: 1;
  }
}

.slider-knop.actief .slider {
  transform: translateX(44px);
}

.radio-section {
  display: none;
}

.radio-section.actief {
  display: block;
}
