*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --primaire-kleur: #ffd0d0;
  --secundaire-kleur: #e1acac;
  --tertiare-kleur: #ca8787;
  --accent-kleur: #a87676;

  --font-size-h1: 2rem;
  --font-size-h2: 1.1rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.4rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1rem;

  --font-size-p: 1rem;

  --font-family-gillsans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-family-bebas: "Bebas Neue", sans-serif;
}

body {
  font-family: var(--font-family-gillsans);
  min-height: 100dvh;
  background-color: var(--secundaire-kleur);
}

p {
  font-size: var(--font-size-p);
}

.font-h1 {
  font-size: var(--font-size-h1);
}

.font-h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-family-bebas);
}

.font-h3 {
  font-size: var(--font-size-h3);
}

.font-h4 {
  font-size: var(--font-size-h4);
}

.font-h5 {
  font-size: var(--font-size-h5);
}

.font-h6 {
  font-size: var(--font-size-h6);
}
