*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi";
  src: local("Satoshi"),
    url("../assets/Satoshi/OTF/Satoshi-bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primaire-kleur: hsl(0, 0%, 0%);
  --secundairy-kleur: hsl(0, 0%, 100%);
  --tertiare-kleur: hsl(262, 100%, 51%);
  --accent-kleur-a: hsl(218, 70%, 29%);
  --accent-kleur-b: hsl(218, 70%, 19%);

  --standaard-border-radius: 1rem;

  --font-size-h1: 2rem;
  --font-size-h2: 2rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.4rem;
  --font-size-h5: 1.2rem;
  --font-size-h6: 1rem;

  --font-size-p-xlarge: 3rem;
  --font-size-p-large: 2rem;
  --font-size-p-medium: 1.5rem;
  --font-size-p-normal: 1rem;
  --font-size-p-small: 0.7rem;

  --font-family-gillsans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-family-satoshi: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

body {
  font-family: var(--font-family-gillsans);
  background-color: var(--secundaire-kleur);
  min-height: 100dvh;
}

p {
  font-size: var(--font-size-p-normal);
}

.font-h1 {
  font-size: var(--font-size-h1);
  font-family: var(--font-family-satoshi);
  font-weight: bold;
}

.font-h2 {
  font-size: var(--font-size-h2);
  font-family: var(--font-family-satoshi);
}

.font-h3 {
  font-size: var(--font-size-h3);
  font-family: var(--font-family-satoshi);
}

.font-h4 {
  font-size: var(--font-size-h4);
}

.font-h5 {
  font-size: var(--font-size-h5);
}

.font-h6 {
  font-size: var(--font-size-h6);
}

ul {
  list-style: none;

  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
