main {
  padding: 1rem;
  height: 100vh;

  header {
    height: 10%;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        gap: 2rem;
        align-items: center;

        label {
          background-color: var(--tertiare-kleur);
          color: white;
          padding: 0.5rem 1rem;
          border-radius: var(--standaard-border-radius);
        }
      }

      button {
      }
    }
  }

  #infoSection {
    min-height: 35%;

    p {
      font-family: var(--font-family-satoshi);
      font-size: 2rem;

      span {
        color: var(--tertiare-kleur);
      }
    }
  }

  #fmSection.actief {
    min-height: 35%;
    display: grid;
    place-content: center;
    text-align: center;
  }

  section {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      h1 {
        font-size: 5rem;
        span {
          color: var(--tertiare-kleur);
        }
      }
    }

    &:nth-of-type(3) {
      height: 40%;
      display: grid;
      place-content: center;
      background-color: green;
    }
    &:nth-of-type(4) {
      height: 15%;
      background-color: yellow;
    }
  }
}
