main {
  padding: 1rem;
  height: 100vh;

  header {
    height: 10%;
    display: flex;
    align-items: center;

    ul {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        gap: 2rem;
        align-items: center;

        label {
          background-color: var(--tertiaire-kleur);
          color: var(--secundaire-kleur);
          border-radius: var(--standaard-border-radius);
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  #infoSection {
    min-height: 35%;

    p {
      font-family: var(--font-family-satoshi);
      font-size: var(--font-grootte-p-l);
      font-weight: bold;
      padding: 0 0 1rem 0;

      span {
        color: var(--tertiaire-kleur);
      }
    }
  }

  #fmSection.actief {
    min-height: 35%;
    display: grid;
    place-content: center;
    text-align: center;
  }

  section {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      h1 {
        font-size: 5rem;
        span {
          color: var(--tertiaire-kleur);
        }
      }
    }

    &:nth-of-type(3) {
      height: 40%;
      display: grid;
      place-content: center;
      background-color: green;
    }

    &:nth-of-type(4) {
      height: 15%;
      position: sticky;
      bottom: 0;

      ul {
        display: flex;
        justify-content: center;
        height: 100%;
        gap: 1.5rem;
        align-items: center;

        li {
          .vinyl {
            background-color: var(--tertiaire-kleur);
            height: 70px;
            aspect-ratio: 1;
            border-radius: 50%;
          }

          button {
            background: none;
            border: none;
          }
        }
      }
    }
  }
}
